# venv and python bits
venv/
__pycache__/
*.py[cod]
*$py.class
.env

# Project specific
uploads/
outputs/
bin/

# IDE and System
.vscode/
.idea/
.history/
.DS_Store
*.log
*.tmp
*.zip
*.mkv
*.mp4
*.avi
*.mov
*.webm

